resource_group_name         = "rg-enterprise-infra"
location                    = "East US"
virtual_network_name        = "vnet-enterprise"
app_subnet_name             = "app-subnet"
network_security_group_name = "nsg-enterprise"
demo_db_password            = "PortfolioDemoPassword!2026"
